

<form asp-action="Create" method="post">
    <label>Nombre</label>
    <input type="text" name="nombre" />

    <label>Apellido</label>
    <input type="text" name="apellido" />

    <label>OtraCosa</label>
    <input type="number" name="otracosa" />

    <input type="submit" value="Crear"/>
</form>>