@model Persona


<h1>Detalles de  @Model.NombreCompleto</h1>

<label>@Html.DisplayNameFor(Model => Model.Nombre)</label>
<p>
    <span class="text-danger">@Model.Nombre</span>
</p>

<a asp-controller="Home" asp-action="Index">Volver a Home</a>

